<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="MenuEntities" connectionString="metadata=res://*/MenuEntitiesSQL.csdl|res://*/MenuEntitiesSQL.ssdl|res://*/MenuEntitiesSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=NCDEV\SQLSERVER2008EN;Initial Catalog=RULE;Persist Security Info=True;User ID=sa;Password=SQLServer2008;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/><add name="TrainingEntities" connectionString="metadata=res://*/TrainingEntitiesSQL.csdl|res://*/TrainingEntitiesSQL.ssdl|res://*/TrainingEntitiesSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=097NC0413;initial catalog=Training;user id=sa;password=AdIns2012;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/></connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
