<?xml version="1.0" encoding="utf-8" ?>
<unity-genericlookup xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"  />
  <alias alias="ColumnBinderTypeConverter" type="Rule.Web.WebUserControl.GenericLookup.ColumnBinderTypeConverter, Rule.Web"  />
  <alias alias="GenericLookupData" type="Rule.Web.WebUserControl.GenericLookup.GenericLookupData, Rule.Web"  />

  <container>
    <register type="GenericLookupData"
			mapTo="GenericLookupData"
			name="GenericLookupTest1" >
      <lifetime type="singleton"/>
      <constructor>
        <param name="columnBinders" >
          <array>
            <value value="column1, column 1, true, true" typeConverter="ColumnBinderTypeConverter" />
            <!---value="<ColumnName>,<Title>,<ModalDialogVisibility><IsKeyId>"-->
            <value value="column2, column 2, false" typeConverter="ColumnBinderTypeConverter" />
            <value value="column3, column 3, false" typeConverter="ColumnBinderTypeConverter" />
            <value value="column4, column 4, false" typeConverter="ColumnBinderTypeConverter" />
            <value value="column5, column 5" typeConverter="ColumnBinderTypeConverter" />
            <value value="column6, column 6" typeConverter="ColumnBinderTypeConverter" />
          </array>
        </param>
        <param name="functionName" type="string" value="GenericLookupTest1" />
      </constructor>
    </register>
    <register type="GenericLookupData"
			mapTo="GenericLookupData"
			name="GenericLookupTest2" >
      <lifetime type="singleton"/>
      <constructor>
        <param name="columnBinders" >
          <array>
            <value value="column1, column 1, true, true" typeConverter="ColumnBinderTypeConverter" />
            <value value="column2, column 2, false" typeConverter="ColumnBinderTypeConverter" />
            <value value="column3, column 3, false" typeConverter="ColumnBinderTypeConverter" />
            <value value="column4, column 4, false" typeConverter="ColumnBinderTypeConverter" />
            <value value="column5, column 5" typeConverter="ColumnBinderTypeConverter" />
            <value value="column6, column 6" typeConverter="ColumnBinderTypeConverter" />
          </array>
        </param>
        <param name="functionName" type="string" value="GenericLookupTest2" />
      </constructor>
    </register>
    <register type="GenericLookupData"
       mapTo="GenericLookupData"
       name="BankLookup" >
      <lifetime type="singleton"/>
      <constructor>
        <param name="columnBinders" >
          <array>
            <value value="BankName,Bank Name,true,true" typeConverter="ColumnBinderTypeConverter" />
            <value value="RefBankId,RefBankId,false" typeConverter="ColumnBinderTypeConverter" />
          </array>
        </param>
        <param name="functionName" type="string" value="BankLookup" />
      </constructor>
    </register>
    <register type="GenericLookupData"
     mapTo="GenericLookupData"
     name="ProductTRNLookup" >
      <lifetime type="singleton"/>
      <constructor>
        <param name="columnBinders" >
          <array>
            <value value="ProductName,Product Name,true,true" typeConverter="ColumnBinderTypeConverter" />
            <value value="ProductTRNId,ProductTRNId,false" typeConverter="ColumnBinderTypeConverter" />
            <value value="ProductType, Product Type,true" typeConverter="ColumnBinderTypeConverter" />
            <value value="Price, Price,true" typeConverter="ColumnBinderTypeConverter" />
            <value value="ProductionDate, Production Date,true" typeConverter="ColumnBinderTypeConverter" />            
          </array>
        </param>
        <param name="functionName" type="string" value="ProductTRNLookup" />
      </constructor>
    </register>
    <register type="GenericLookupData"
     mapTo="GenericLookupData"
     name="ProductTRNLookup" >
      <lifetime type="singleton"/>
      <constructor>
        <param name="columnBinders" >
          <array>
            <value value="ProductName,Product Name,true,true" typeConverter="ColumnBinderTypeConverter" />
            <value value="ProductTRNId,ProductTRNId,false" typeConverter="ColumnBinderTypeConverter" />
            <value value="ProductType, Product Type,true" typeConverter="ColumnBinderTypeConverter" />
            <value value="Price, Price,true" typeConverter="ColumnBinderTypeConverter" />
            <value value="ProductionDate, Production Date,true" typeConverter="ColumnBinderTypeConverter" />
          </array>
        </param>
        <param name="functionName" type="string" value="ProductTRNLookup" />
      </constructor>
    </register>

    <register type="GenericLookupData"
     mapTo="GenericLookupData"
     name="EmployeeLookup" >
      <lifetime type="singleton"/>
      <constructor>
        <param name="columnBinders" >
          <array>
            <value value="EmpId,Employee ID" typeConverter="ColumnBinderTypeConverter" />
            <value value="EmpName,Employee Name,true,true" typeConverter="ColumnBinderTypeConverter" />            
            <value value="RefEmpPositionId, RefEmpPositionId, false " typeConverter="ColumnBinderTypeConverter" />
          </array>
        </param>
        <param name="functionName" type="string" value="EmployeeLookup" />
      </constructor>
    </register>


  </container>
</unity-genericlookup>
