<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="unity-formatter" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="unity-genericlookup" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="unity-approval" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity configSource="Unity.config"/>
  <unity-formatter configSource="Unity-Formatter.config"/>
  <unity-genericlookup configSource="Unity-GenericLookup.config"/>
  <unity-approval configSource="Unity-Approval.config"/>
  <appSettings>
    <add key="LoginPage" value="~/Login.aspx"/>
    <add key="MainPage" value="~/Main.aspx"/>
    <add key="UnauthorizedPage" value="~/Unauthorized.aspx"/>
    <add key="PrecacheRegisteredForms" value="true"/>
    <add key="HomescreenColumnCount" value="3"/>
    <add key="DefaultRSSCount" value="5"/>
    <add key="LanguageCode" value="EN"/>
    <add key="GenericLookupScriptDumpVirtualFilePath" value="~/Scripts/GenericLookupScript.js"/>
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <!--<add name="TrainingEntitiesSQLConn" connectionString="metadata=res://*/TrainingEntitiesSQL.csdl|res://*/TrainingEntitiesSQL.ssdl|res://*/TrainingEntitiesSQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=TRAINING;user id=sa;password=SQLServer2012;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!-- <add name="TrainingEntitiesSQLConn"
     connectionString="data source=.\;
     initial catalog=TRAINING_DB;
     persist security info=True; 
     Integrated Security=SSPI;"
     providerName="System.Data.SqlClient" />-->
    <!--<add name="TrainingEntitiesSQLConn"
    connectionString="Data Source=.;user id=sa;Password=sa;initial Catalog=TRAINING;"
    providerName="System.Data.SqlClient" />-->
    <add name="TrainingEntities" connectionString="metadata=res://*/TrainingEntitiesSql.csdl|res://*/TrainingEntitiesSql.ssdl|res://*/TrainingEntitiesSql.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\;initial catalog=TRAINING;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="TrainingEntitiesSQLConn" connectionString="metadata=res://*/TrainingEntitiesSql.csdl|res://*/TrainingEntitiesSql.ssdl|res://*/TrainingEntitiesSql.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\;initial catalog=TRAINING;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--REFCOMMON-->
    <add name="TrainingSQLConn" connectionString="Data Source=.\; integrated security=True ;initial catalog=TRAINING;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!--<machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="HMACSHA256" decryption="Auto" />-->
    <!-- Machine key for Single Sign-On -->
    <machineKey validationKey="4BE267C2B291EE27B6F59BE81D0CA483674671E4B5204C5AAD3599265C37C4484617A4F57A333756819910907795F13987E48DDD0756B3F6562375D8549D61DA" decryptionKey="20B163E1E26C3C79F910F30317E23E58C1652FE7FC19C60CC29326A340BE9E35" validation="SHA1" decryption="AES"/>
    <!-- End -->
    <compilation debug="true" targetFramework="4.8"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Main.aspx" protection="All" domain="" timeout="60" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="~/Main.aspx" cookieless="UseCookies"/>
    </authentication>
    <authorization>
      <!--<deny users="?" />-->
      <!--<allow users="*"/>-->
    </authorization>
    <sessionState mode="InProc" timeout="60"/>
    <membership defaultProvider="AppMembershipProvider">
      <providers>
        <clear/>
        <add name="ApplicationMembershipProvider" type="Confins.Web.Security.ApplicationMembershipProvider" connectionStringName="ApplicationServices" applicationName="/" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" maxInvalidPasswordAttempts="5"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider" cookiePath="/" cookieProtection="All" cookieSlidingExpiration="true" cookieName=".ASPROLES">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
    </httpHandlers>
    <httpModules/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource"/>
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler"/>
    </handlers>
    <!-- Registration for Integrated-Mode IIS 7 Pipelining -->
    <modules/>
  </system.webServer>
</configuration>